:root {
  --black: #000000;
  --white: #ffffff;
  --night-gray: #202020;
  --dark-blue: #070217;
  --purple: #3d3541;
  --light-yellow: #ffffce;
  --sand-yellow: #c4c48a;
  --dirty-yellow: #84843d;
  --gold: #dcd62d;
  --green: #19d076;
  --red: #ff5050;
}
