:root {
  --black: #000000;
  --white: #ffffff;
  --night-gray: #202020;
  --dark-blue: #070217;
  --purple: #3d3541;
  --light-yellow: #ffffce;
  --sand-yellow: #c4c48a;
  --dirty-yellow: #84843d;
  --gold: #d4ce1f;
  --green: #4e9156;
  --red: #b42b2b;
}
